@font-face {
  font-family: 'Kashima';
  src: url('/static/font/KashimaDemo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



body{
    background-image: url("/static/edgar-chaparro-Lwx-q6OdGAc-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    text-align: center;
    padding: 50px;
    }

.title-box {
    background-color: #fdf6ed; 
    padding: 70px 40px 30px 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:150px;
    margin: 50px auto;
    width: fit-content;
    max-width: 90vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}    

.title{
    transform: translateY(4px);
    font-family: 'Kashima', sans-serif;
    font-size: 7em;
    color: #000000;
    margin-bottom: 40px;
    }


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.box-start p,
.box-status p,
.box-lade p {
  font-size: 2.0em;
  line-height: 1.2em;
  margin-bottom: 20px;
  text-align: center;
}

.box-start h2,
.box-status h2,
.box-lade h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}


.box-start,
.box-status,
.box-lade,
.box-final {
    background-color: #fdf6ed;
    border-radius: 15px;
    padding: 40px;
    max-width: 1000px;
    min-height: 500px;
    margin: 150px auto 0 auto;
    box-shadow: 0  0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


.box-final h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.box-final p {
  font-size: 2em;
  color: #1c3563;
}

.box-status{
    padding-top: 20px;
    font-size: 0.9em
    }

.box-start p {
  font-size: 2.0em;
}

.box-lade p {
  font-size: 1.6em;
}

input[type="text"] {   
  font-size: 1.2em;
  padding: 10px;
  width: 60%;
  max-width: 300px;
  margin-bottom: 20px;
}

button {
  font-size: 1.5em;
  padding: 15px 40px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #1c3563;
  color: rgb(224, 224, 224);
}

button:disabled {
  background-color: #999;
  cursor: default;
}

#info-bereich {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fdf6ed;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  max-width: 200px;
  text-align: right;
}

#menge {
  margin-bottom: 10px;
}

#highscore ol {
  margin-top: 10px;
  padding-left: 20px;
}


